In [1]:
tup = (1, 2, 3)
tup

(1, 2, 3)

In [2]:
list_1 = [1, 2, 3]
type(tuple(list_1))

tuple

In [3]:
nested_tup = ([1, 2, 3], (4, 5))
nested_tup

([1, 2, 3], (4, 5))

In [4]:
nested_tup[0]

[1, 2, 3]

In [5]:
nested_tup[0].append(4)
nested_tup[0]

[1, 2, 3, 4]

In [6]:
(1, 3, 2) + (4, 5, 6)

(1, 3, 2, 4, 5, 6)

In [7]:
('foo', 'bar') * 2

('foo', 'bar', 'foo', 'bar')

In [8]:
a, b = nested_tup
a, b

([1, 2, 3, 4], (4, 5))

In [9]:
(a, b, c, d), (e, f) = nested_tup
a, b, c, d, e, f

(1, 2, 3, 4, 4, 5)

In [10]:
seq = [( 1, 2, 3), (4, 5, 6), (7, 8, 9)] 
for a, b, c in seq: 
    print(a, b, c)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [11]:
list_1 = [1, 2, 3]
list_1

[1, 2, 3]

In [12]:
type(list(tup))

list

In [13]:
nested_list = [(1, 2, 3), [4, 5]]
nested_list

[(1, 2, 3), [4, 5]]

In [14]:
nested_list[1]

[4, 5]

In [15]:
nested_list.append(6)
nested_list

[(1, 2, 3), [4, 5], 6]

In [16]:
nested_list.insert(0, 'start')
nested_list

['start', (1, 2, 3), [4, 5], 6]

In [17]:
nested_list.pop(0)
nested_list

[(1, 2, 3), [4, 5], 6]

In [18]:
nested_list.remove((1, 2, 3))
nested_list

[[4, 5], 6]

In [19]:
6 in nested_list

True

In [20]:
[1, 3, 2] + [4, 5, 6]

[1, 3, 2, 4, 5, 6]

In [21]:
nested_list.extend([7, 8, 9])
nested_list

[[4, 5], 6, 7, 8, 9]

In [22]:
dict_1 = { 'a' : 'foo', 'b' : [0, 1, 2, 3] }
dict_1

{'a': 'foo', 'b': [0, 1, 2, 3]}

In [23]:
dict_1['b']

[0, 1, 2, 3]

In [24]:
dict_1[5] = 'bar'
dict_1

{5: 'bar', 'a': 'foo', 'b': [0, 1, 2, 3]}

In [25]:
5 in dict_1

True

In [26]:
dict_2 = dict(dict_1)
del dict_2[5]
dict_2

{'a': 'foo', 'b': [0, 1, 2, 3]}

In [27]:
value = dict_2.pop('b')
print(value)
print(dict_2)

[0, 1, 2, 3]
{'a': 'foo'}

In [28]:
value = dict_1.get('z', 0)
value

0

In [29]:
print(dict_1.setdefault('b', None))
print(dict_1.setdefault('z', None))

[0, 1, 2, 3]
None

In [30]:
from collections import defaultdict

seq = ['foo', 'bar', 'baz']
first_letter = defaultdict(list)
for elem in seq:
    first_letter[elem[0]].append(elem)
first_letter

defaultdict(<type 'list'>, {'b': ['bar', 'baz'], 'f': ['foo']})

In [31]:
print(hash('string'))
print(hash((1, 2, (3, 4))))

-9167918882415130555
-2725224101759650258

In [32]:
dict_1.keys()

['a', 'b', 5, 'z']

In [33]:
dict_1.values()

['foo', [0, 1, 2, 3], 'bar', None]

In [34]:
for key, value in dict_1.items():
    print key, value

a foo
b [0, 1, 2, 3]
5 bar
z None

In [35]:
dict_1.update({'e' : 'elephant', 'f' : 'fish'})
dict_1

{5: 'bar',
 'a': 'foo',
 'b': [0, 1, 2, 3],
 'e': 'elephant',
 'f': 'fish',
 'z': None}

In [36]:
mapping = dict(zip(range(7), reversed(range(7))))
mapping

{0: 6, 1: 5, 2: 4, 3: 3, 4: 2, 5: 1, 6: 0}

In [37]:
set_1 = set([0, 1, 2, 3, 4, 5])
set_1

{0, 1, 2, 3, 4, 5}

In [38]:
set_2 = {1, 2, 3, 5, 8, 13}
set_2

{1, 2, 3, 5, 8, 13}

In [39]:
set_1 | set_2

{0, 1, 2, 3, 4, 5, 8, 13}

In [40]:
set_1 & set_2

{1, 2, 3, 5}

In [41]:
set_1 - set_2

{0, 4}

In [42]:
set_1 ^ set_2

{0, 4, 8, 13}

In [43]:
set_3 = {1, 2, 3}
set_3.issubset(set_2)

True

In [44]:
set_2.issuperset(set_3)

True

In [1]:
{1, 2, 3} == {3, 2, 1}

True

In [1]:
seq = 'Monty Python'
seq[6:10]

'Pyth'

In [2]:
seq[:5]

'Monty'

In [3]:
seq[6:]

'Python'

In [4]:
seq[-12:-7]

'Monty'

In [5]:
seq[::2]

'MnyPto'

In [6]:
seq[::-1]

'nohtyP ytnoM'

In [7]:
seq = [1, 1, 2, 3, 5, 8, 13]
seq[5:] = ['H', 'a', 'l', 'l']
seq

[1, 1, 2, 3, 5, 'H', 'a', 'l', 'l']

In [8]:
seq = [1, 1, 2, 3, 5, 8, 13]
seq[5] = ['H', 'a', 'l', 'l']
seq

[1, 1, 2, 3, 5, ['H', 'a', 'l', 'l'], 13]

In [9]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Range can take start, stop, and step arguments:

In [10]:
range(0, 20, 3)

[0, 3, 6, 9, 12, 15, 18]

In [11]:
seq = [1, 2, 3]
for i in range(len(seq)):
    val = seq[i]
    print(val)

1
2
3

In [12]:
sum = 0
for i in xrange(100000):
    if i % 2 == 0:
        sum += 1
print(sum)

50000

In [13]:
import bisect

In [14]:
seq = [1, 2, 2, 3, 5, 13]
bisect.bisect(seq, 8)

5

In [15]:
bisect.insort(seq, 8)
seq

[1, 2, 2, 3, 5, 8, 13]

In [16]:
seq = [1, 5, 3, 9, 7, 6]
seq.sort()
seq

[1, 3, 5, 6, 7, 9]

In [17]:
seq = ['the', 'quick', 'brown', 'fox', 'jumps', 'over']
seq.sort(key=len)
seq

['the', 'fox', 'over', 'quick', 'brown', 'jumps']

In [18]:
sorted([2, 5, 1, 8, 7, 9])

[1, 2, 5, 7, 8, 9]

In [19]:
sorted('foo bar baz')

[' ', ' ', 'a', 'a', 'b', 'b', 'f', 'o', 'o', 'r', 'z']

In [20]:
seq = [2, 5, 1, 8, 7, 9, 9, 2, 5, 1, (4, 2), (1, 2), (1, 2)]
sorted(set(seq))

[1, 2, 5, 7, 8, 9, (1, 2), (4, 2)]

In [21]:
list(reversed(seq))

[(1, 2), (1, 2), (4, 2), 1, 5, 2, 9, 9, 7, 8, 1, 5, 2]

In [22]:
strings = ['foo', 'bar', 'baz']
for i, string in enumerate(strings):
    print(i, string)

(0, 'foo')
(1, 'bar')
(2, 'baz')

In [23]:
seq_1 = [1, 2, 3]
seq_2 = ['foo', 'bar', 'baz']
zip(seq_1, seq_2)

[(1, 'foo'), (2, 'bar'), (3, 'baz')]

In [24]:
seq_3 = [True, False]
zip(seq_1, seq_2, seq_3)

[(1, 'foo', True), (2, 'bar', False)]

In [25]:
for i, (a, b) in enumerate(zip(seq_1, seq_2)):
    print('%d: %s, %s' % (i, a, b))

0: 1, foo
1: 2, bar
2: 3, baz

In [26]:
numbers = [(1, 'one'), (2, 'two'), (3, 'three')]
a, b = zip(*numbers)
a

(1, 2, 3)

In [27]:
b

('one', 'two', 'three')

In [28]:
strings = ['foo', 'bar', 'baz', 'f', 'fo', 'b', 'ba']
[x.upper() for x in strings if x[0] == 'b']

['BAR', 'BAZ', 'B', 'BA']

In [29]:
list_of_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
[x for tup in list_of_tuples for x in tup]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
{index : val for index, val in enumerate(strings) if val[0] == 'b'}

{1: 'bar', 2: 'baz', 5: 'b', 6: 'ba'}

In [31]:
{len(x) for x in strings if x[0] == 'b'}

{1, 2, 3}